<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>layer测试页面</title>
    <link rel="stylesheet" href="../../static/js/layer/my-layer.css">
</head>
<body>



</body>
<script th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
<script th:src="@{/common/js/common.js}" src="../../static/common/js/common.js"></script>
<script th:src="@{/js/layer/layer.js}" src="../../static/js/layer/layer.js"></script>
<script src="../../static/js/layer/my-layer.js"></script>
<script>

     //layer.okAlert("正确信息");
     //layer.errorAlert("错误信息");
     //layer.infoConfirm("你好啊")


</script>
</html>