<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>服务创建</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>服务创建 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/service/save}" action="/service/save" method="post">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCustNo"> 客户 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="svrCustNo" id="svrCustNo" class="form-control" required="required">
                                <option th:each="Customer:${cstCustomerService}" th:value="${Customer.custNo}" th:text="${Customer.custName}" value="">角色</option>
                            </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrType"> 服务类型 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="svrType" id="svrType" class="form-control" required="required">
                                    <option th:each="basDic:${basDicService}" th:value="${basDic.dictValue}" th:text="${basDic.dictItem}" value="">角色</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCreateBy"> 创建人 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrCreateBy" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrCreateBy" required="required"
                                       placeholder="请输入机会来源" type="text" th:value="${user.usrName}">
                                <span name="svrCreateId" th:text="${user.usrId}" style="display: none"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrStatus"> 状态 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrStatus" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrStatus" required="required" readonly="readonly"
                                       placeholder="请输入成功机率(必填项)" type="text" th:value="新创建">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrTitle"> 概要 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrTitle" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrTitle" required="required"
                                       placeholder="请输入公司电话(必填项)" type="text" th:value="${service.svrTitle}">
                            </div>
                        </div>

                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCreateDate"> 创建时间 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="svrCreateDate" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="10" data-validate-words="1" name="svrCreateDate" required="required"
                                   placeholder="请输入公司电话(必填项)" type="text" style="text-align: center;" >
                        </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrRequest"> 服务请求 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="svrRequest" class="form-control col-md-7 col-xs-12" data-validate-length-range="10" data-validate-words="1" name="svrRequest" required="required" placeholder="请输入概要(必填项)" type="text" th:text="${service.svrRequest}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        function doDel(obj,usrId){
            if(confirm("你确定需要删除该用户信息吗？")){
                $.ajax({
                    type:"GET",
                    url:"/crm/salChance/del",
                    data:"usrId="+usrId,
                    dataType:"json",
                    success:function(data){
                        if(data.delResult == "true"){//删除成功：移除删除行
                            alert("删除成功");
                            location.reload();
                            // $(obj).parents("tr").remove();
                        }
                    },
                    error:function(data){
                        alert("对不起，删除失败");
                    }
                });
            }
        }
    });
    function datetime() {
        var now = new Date();
        document.getElementById("svrCreateDate").value = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate();
        document.getElementById("svrCreateDate").value += " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
    }
    window.setInterval("datetime()", 1000);


</script>
</html>