<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>服务归档</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>服务归档 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/service/feedbackupd/save}" action="/service/feedbackupd/save" method="post">
                            <input type="hidden" name="svrCustNo" id="svrCustNo" value="1" th:value="${cstCustomerUpd.svrCustNo}">
                            <input type="hidden" name="svrCreateId" id="svrCreateId" value="1" th:value="${cstCustomerUpd.svrCreateId}">
                            <input type="hidden" name="svrDueId" id="svrDueId" value="1" th:value="${cstCustomerUpd.svrDueId}">
                            <input type="hidden" name="svrDealId" id="svrDealId" value="1" th:value="${cstCustomerUpd.svrDealId}">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrId"> 编号 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrId" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrId" required="required"
                                       placeholder="请输入用户名(必填项)" type="text" th:value="${cstCustomerUpd.svrId}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrType"> 服务类型 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrType" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrType" required="required"
                                       placeholder="请输入负责人(必填项)" type="text" th:value="${cstCustomerUpd.svrType}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrTitle"> 概要 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrTitle" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrTitle" required="required"
                                       placeholder="请输入负责人(必填项)" type="text" th:value="${cstCustomerUpd.svrTitle}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCustName"> 客户 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrCustName" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrCustName" required="required"
                                       placeholder="请输入成功机率(必填项)" type="text" th:value="${cstCustomerUpd.svrCustName}">
                            </div>
                        </div>
                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrStatus"> 状态 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="svrStatus" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="10" data-validate-words="1" name="svrStatus" required="required"
                                   placeholder="请输入成功机率(必填项)" type="text" th:value="${cstCustomerUpd.svrStatus}">
                        </div>
                        </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrRequest"> 服务请求 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrRequest" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrRequest" required="required"
                                           placeholder="请输入成功机率(必填项)" type="text" th:value="${cstCustomerUpd.svrRequest}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCreateBy"> 创建人 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrCreateBy" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrCreateBy" required="required"
                                           placeholder="请输入成功机率(必填项)" type="text" th:value="${cstCustomerUpd.svrCreateBy}">
                                </div>
                            </div>




                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrCreateDate"> 创建时间 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="svrCreateDate" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="svrCreateDate" required="required"
                                       placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrCreateDate}">
                            </div>
                        </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrDueTo"> 分配给 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrDueTo" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrDueTo" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrDueTo}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrDueDate"> 分配时间 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrDueDate" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrDueDate" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrDueDate}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrDeal"> 服务处理 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrDeal" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrDeal" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrDeal}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrDealBy"> 处理人 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrDealBy" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrDealBy" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrDealBy}">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrDealDate"> 处理时间 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrDealDate" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrDealDate" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrDealDate}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrResult"> 处理结果 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrResult" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrResult" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrResult}">
                                </div>
                            </div><div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="svrSatisfy"> 满意度 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="svrSatisfy" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="svrSatisfy" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.svrSatisfy}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">

</script>
</html>