<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>用户添加</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>修改客户信息 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/juser/information/save}" action="/juser/information/save" method="post">
                            <input type="hidden" name="custId" id="chcId" value="1" th:value="${cstCustomerUpd.custId}">
                            <input type="hidden" name="custManagerId" id="custManagerId" value="1" th:value="${cstCustomerUpd.custManagerId}">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custName"> 客户名称 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="custName" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="custName" required="required"
                                       placeholder="请输入用户名(必填项)" type="text" th:value="${cstCustomerUpd.custName}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custNo"> 客户编号 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="custNo" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="custNo" required="required"
                                       placeholder="请输入负责人(必填项)" type="text" th:value="${cstCustomerUpd.custNo}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custRegion"> 地区 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="custRegion" id="custRegion" class="form-control" required="required">
                                    <option th:selected="(${cstCustomerUpd.custRegion} eq ${basDic.dictValue})" th:each="basDic:${basDicService}"  th:text="${basDic.dictValue}" th:value="${cstCustomerUpd.custRegion}" value="">角色</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custManagerName"> 负责人 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="custManagerName" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="custManagerName" required="required"
                                       placeholder="请输入成功机率(必填项)" type="text" th:value="${cstCustomerUpd.custManagerName}">
                            </div>
                        </div>
                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custLevelLabel"> 客户等级 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="custLevelLabel" id="custLevelLabel" class="form-control" required="required">
                                <option th:selected="(${cstCustomerUpd.custLevelLabel} eq ${Customer.dictItem})" th:each="Customer:${cstCustomerlevel}" th:text="${Customer.dictItem}" th:value="${Customer.dictItem}" value="">角色</option>
                            </select>
                        </div>
                        </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custCredit"> 客户信誉度 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="custCredit" id="custCredit" class="form-control" required="required">
                                        <option th:selected="(${cstCustomerUpd.custCredit} eq ${aa})" th:each="aa:${a}" th:text="${cstCustomerUpd.custCredit}" th:value="${cstCustomerUpd.custCredit}" value="">角色</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custSatisfy"> 客户满意度 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="custSatisfy" id="custSatisfy" class="form-control" required="required">
                                        <option th:selected="(${cstCustomerUpd.custSatisfy} eq ${aa})" th:each="aa:${a}" th:text="${cstCustomerUpd.custSatisfy}" th:value="${cstCustomerUpd.custSatisfy}" value="">角色</option>
                                    </select>
                                </div>
                            </div>




                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custAddr"> 地址 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="custAddr" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="custAddr" required="required"
                                       placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custAddr}">
                            </div>
                        </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custZip"> 邮政编码 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custZip" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custZip" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custZip}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custTel"> 电话 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custTel" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custTel" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custTel}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custFax"> 传真 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custFax" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custFax" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custFax}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custWebsite"> 网址 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custWebsite" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custWebsite" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custWebsite}">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custLicenceNo"> 营业执照注册号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custLicenceNo" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custLicenceNo" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custLicenceNo}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custChieftain"> 法人 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custChieftain" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custChieftain" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custChieftain}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custBankroll"> 注册基金 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custBankroll" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custBankroll" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custBankroll}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custTurnover"> 年度营业额 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custTurnover" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custTurnover" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custTurnover}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custBank"> 开户银行 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custBank" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custBank" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custBank}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custBankAccount"> 银行账号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custBankAccount" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custBankAccount" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custBankAccount}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custLocalTaxNo"> 地税登记号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custLocalTaxNo" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custLocalTaxNo" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custLocalTaxNo}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custNationalTaxNo"> 国税登记号 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custNationalTaxNo" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custNationalTaxNo" required="required"
                                           placeholder="请输入概要(必填项)" type="text" th:value="${cstCustomerUpd.custNationalTaxNo}">
                                </div>
                            </div>






                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!--<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
</script>-->
</html>