<!DOCTYPE HTML>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" th:href="@{/images/video/favcion.png}" href="../../static/images/video/favcion.png}" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/css/video/bootstrap.min.css}" href="../../static/css/video/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" th:href="@{/css/video/slicknav.min.css}" href="../../static/css/video/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" th:href="@{/css/video/icofont.css}" href="../../static/css/video/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" th:href="@{/css/video/owl.carousel.css}" href="../../static/css/video/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" th:href="@{/css/video/magnific-popup.css}" href="../../static/css/video/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" th:href="@{/css/video/style.css}" href="../../static/css/video/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" th:href="@{/css/video/responsive.css}" href="../../static/css/video/responsive.css" media="all" />

		<!--[if lt IE 9]>
		  <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>



		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
								<li><a class="active" th:href="@{/video/index}">Home</a></li>
								<li><a th:href="@{/video/movies}">Movies</a></li>
								<li><a th:href="@{/video/topmovies}">Top Movies</a></li>
								<li><a th:href="@{/video/blog}">News</a></li>
								<li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a th:href="@{/video/blogdetails}">Blog Details</a></li>
										<li><a class="active" th:href="@{/video/moviedetails}">Movie Details</a></li>
									</ul>
								</li>
                                <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		<div class="login-area">
			<div class="login-box">
				<a href="#"><i class="icofont icofont-close"></i></a>
				<h2>LOGIN</h2>
				<form action="#">
					<h6>USERNAME OR EMAIL ADDRESS</h6>
					<input type="text" />
					<h6>PASSWORD</h6>
					<input type="text" />
					<div class="login-remember">
						<input type="checkbox" />
						<span>Remember Me</span>
					</div>
					<div class="login-signup">
						<span>SIGNUP</span>
					</div>
					<a href="#" class="theme-btn">LOG IN</a>
					<span>Or Via Social</span>
					<div class="login-social">
						<a href="#"><i class="icofont icofont-social-facebook"></i></a>
						<a href="#"><i class="icofont icofont-social-twitter"></i></a>
						<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
						<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
						<a href="#"><i class="icofont icofont-camera"></i></a>
					</div>
				</form>
				
			</div>
		</div>
		<div class="buy-ticket">
			<div class="container">
				<div class="buy-ticket-area">
					<a href="#"><i class="icofont icofont-close"></i></a>
					<div class="row">
						<div class="col-lg-8">
							<div class="buy-ticket-box">
								<h4>Buy Tickets</h4>
								<h5>Seat</h5>
								<h6>Screen</h6>
								<div class="ticket-box-table">
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
								</div>
								<div class="ticket-box-available">
									<input type="checkbox" />
									<span>Available</span>
									<input type="checkbox" checked />
									<span>Unavailable</span>
									<input type="checkbox" />
									<span>Selected</span>
								</div>
								<a href="#" class="theme-btn">previous</a>
								<a href="#" class="theme-btn">Next</a>
							</div>
						</div>
						<div class="col-lg-3 offset-lg-1">
							<div class="buy-ticket-box mtr-30">
								<h4>Your Information</h4>
								<ul>
									<li>
										<p>Location</p>
										<span>HB Cinema Box Corner</span>
									</li>
									<li>
										<p>TIME</p>
										<span>2018.07.09   20:40</span>
									</li>
									<li>
										<p>Movie name</p>
										<span>Home Alone</span>
									</li>
									<li>
										<p>Ticket number</p>
										<span>2 Adults, 2 Children, 2 Seniors</span>
									</li>
									<li>
										<p>Price</p>
										<span>89$</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->
		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
					    <div class="portfolio-menu">
							<ul>
								<li data-filter="*" class="active" th:onclick="|doAll('全部')|">全部</li>
								<li data-filter=".soon" th:href="@{/video/movies(type='动漫')}">动漫</li>
								<li data-filter=".soon" th:href="@{/video/movies(type='美女')}">美女</li>
							</ul>
						</div>
					</div>
				</div>
				<hr />
				<div class="row portfolio-item" id="all">
					<div class="col-lg-3 col-md-4 col-sm-6 soon released">
						<div class="single-portfolio">

						</div>
					</div>
				</div>
				<!--<div class="col-sm-5">
					<div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">
						共<span th:text="${pageInfo.getTotal()}">1</span>条记录
						<span th:text="${pageInfo.getPageNum()}">1</span>
						/<span th:text="${pageInfo.getPages()}">1</span>页
					</div>
				</div>-->
				<!--<div class="col-sm-7">
					<div class="dataTables_paginate paging_simple_numbers" id="datatable_responsive_paginate">
						<ul class="pagination">
							<li class="paginate_button">
								<a th:href="@{/video/movies(current=1)}"
								   aria-controls="datatable-responsive" data-dt-idx="0"
								   tabindex="0">首页</a>
							</li>
							<li class="paginate_button">
								<a href="#"
								   th:href="@{/video/movies(current=${pageInfo.getPageNum()-1})}"
								   aria-controls="datatable-responsive" data-dt-idx="1"
								   tabindex="0">上一页</a>
							</li>
							<li class="paginate_button" >
								<a href="#"
								   th:href="@{/video/movies(current=${pageInfo.getPageNum()+1})}"
								   aria-controls="datatable-responsive" data-dt-idx="1"
								   tabindex="0">下一页</a>
							</li>
							<li class="paginate_button">
								<a href="#"
								   th:href="@{/video/movies(current=${pageInfo.getPages()})}"
								   aria-controls="datatable-responsive" data-dt-idx="7"
								   tabindex="0">最后一页</a>
							</li>
						</ul>
					</div>
				</div>-->
			</div>
		</section><!-- portfolio section end -->

		<!-- jquery main JS -->
		<script th:src="@{/js/jquery.min.js}" ></script>
		<!-- Bootstrap JS -->
		<script th:src="@{/js/bootstrap.min.js}" ></script>
		<!-- Slick nav JS -->
		<script th:src="@{/js/jquery.slicknav.min.js}" ></script>
		<!-- owl carousel JS -->
		<script th:src="@{/js/owl.carousel.min.js}" ></script>
		<!-- Popup JS -->
		<script th:src="@{/js/jquery.magnific-popup.min.js}" ></script>
		<!-- Isotope JS -->
		<script th:src="@{/js/isotope.pkgd.min.js}" ></script>
		<!-- main JS -->
		<script th:src="@{/js/main.js}"></script>
		<script>

			All();

			function aToVideo(url) {
				console.log(url);
				let m1 = "<div id='mp1' class=\"mfp-bg mfp-ready\"></div>"
				let m2 = "<div id='mp2' class=\"mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready\" tabindex=\"-1\" style=\"overflow: hidden auto;\">\n" +
						"    <div class=\"mfp-container mfp-s-ready mfp-iframe-holder\">\n" +
						"        <div class=\"mfp-content\">\n" +
						"            <div class=\"mfp-iframe-scaler\"><button title=\"Close (Esc)\" onclick='close()' type=\"button\" class=\"mfp-close\">×</button><iframe class=\"mfp-iframe\" src='"+url+"'  frameborder=\"0\" allowfullscreen=\"\"></iframe></div>\n" +
						"        </div>\n" +
						"        <div class=\"mfp-preloader\">Loading...</div>\n" +
						"    </div>\n" +
						"</div>"
				let $preloader = $("#preloader");
				$preloader.before(m1);
				$preloader.before(m2);
				$(".mfp-container").click(function () {
					close();
				});
				return true
			}

			function close() {
				$("#mp1").remove();
				$("#mp2").remove();
			}

			function All(){
				$.ajax({
					type: "POST",
					url	: "/video/moviesall",
					data: "",
					dataType:"json",
					success:function(data){
						//前面标签
						// TODO 还没做完
						let htmlDivElement = document.createElement("div");
						htmlDivElement.setAttribute("class","single-portfolio-img");
						let img = document.createElement("img");
						img.setAttribute("src","/images/video/portfolio/portfolio1.png");
						img.setAttribute("alt","portfolio");
						let a = document.createElement("a");
						a.setAttribute("class","popup-youtube");
						a.setAttribute("href",data[0].vidUrl);
						let i = document.createElement("i");
						i.setAttribute("class","icofont icofont-ui-play");
						a.append(i)
						htmlDivElement.append(img)
						htmlDivElement.append(a)




						$(".single-portfolio").append(htmlDivElement);
						$(".popup-youtube").click(function () {
							return false;
						});
						$(".icofont-ui-play").click(function () {
							aToVideo($(this).parent().attr("href"));
						});
					}
				})
			}
		</script>
	</body>
</html>
