<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>usr_id</th>
            <th>usr_name</th>
            <th>role_name</th>
            <th>index</th>
        </tr>
        <tr th:each="user,status:${list}">
            <td th:text="${user.usrId}"></td>
            <td th:text="${user.usrName}"></td>
            <td th:text="${user.role.roleName}"></td>
            <td th:text="${status.index}"></td>
        </tr>
    </table>
</body>
</html>