<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script src="../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>
</head>
<body>
<div class="dowebok">
    <div class="logo"></div>
    <div class="form-item">
        <input id="usrAccount" type="text" autocomplete="off" placeholder="帐号" th:onfocus="checkUsrName()" onfocus="checkUsrName()">
        <p class="tip" id="MsgUsrName">请输入帐号</p>
    </div>
    <div class="form-item">
        <input id="usrPassword" type="password" autocomplete="off" placeholder="登录密码" th:onfocus="checkUsrPassword()" onfocus="checkUsrPassword()">
        <p class="tip" id="MsgUsrPassword">用户或密码不正确</p>
        <p class="tip" id="MsgUsrPasswordNull">请输入密码</p>
    </div>
    <div class="form-item">
        <button id="submit" th:onclick= "jump()" onclick= "return yz()">登 录</button>  <!--onclick属性添加点击事件-->
    </div>
    <div class="reg-bar">
        <a class="reg" href="javascript:">立即注册</a>
        <a class="forget" href="javascript:">忘记密码</a>
    </div>
</div>
<script layout:fragment="js">
    /**
     * 账号为空时，点击账号框消失提示
     */
    function checkUsrName() {
            var resultUsrName=document.getElementById("MsgUsrName");          //输出不满足条件的提示内容
            resultUsrName.style.display="none";
        }
    //密码为空时，点击账号框消失提示
        function checkUsrPassword() {
            var resultUsrPassword=document.getElementById("MsgUsrPasswordNull");          //输出不满足条件的提示内容
            resultUsrPassword.style.display="none";
            var pwd=document.getElementById("MsgUsrPassword");          //输出不满足条件的提示内容
            pwd.style.display="none";
        }
        //登录
        function jump() {
            var usrAccount = document.getElementById("usrAccount").value;
            var usrPassword = document.getElementById("usrPassword").value;
            var obj = {
                usrAccount:usrAccount,
                usrPassword:usrPassword,
            }
            if (usrAccount == "" || null)                //判断条件
            {
                var resultUsrName = document.getElementById("MsgUsrName");          //输出不满足条件的提示内容
                resultUsrName.style.display = "block";
                return false;
            } else if (usrPassword == "" || null) {
                var resultUsrPassword = document.getElementById("MsgUsrPassword");          //输出不满足条件的提示内容
                resultUsrPassword.style.display = "block";
                return false;
            } else {
                $.postJSON("user/dologin",obj,function (data) {
                        if (data.code===0) {
                            alert("登录成功");
                        } else{
                            var pwd=document.getElementById("MsgUsrPassword");          //输出不满足条件的提示内
                            pwd.style.display="block";
                        }
                    },function () {
                        alert('网络异常！尝试刷新网页解决问题');
                    }
                );
                return true;
            }
        }
</script>
</body>
</html>