<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css -->


</head>
<body class="nav-md footer_fixed">

</body>
<!--js -->
<script th:src="@{/js/freshline/animadrag.js}" src="../static/js/freshline/animadrag.js"></script>
<script th:src="@{/js/freshline/jquery.freshline.beforeafter.js}" src="../static/js/freshline/jquery.freshline.beforeafter.js"></script>
<script th:src="@{/js/freshline/jquery.freshline.demo.js}" src="../static/js/freshline/jquery.freshline.demo.js"></script>
<script th:src="@{/js/ie/excanvas.js}" src="../static/js/ie/excanvas.js"></script>
<script th:src="@{/js/ie/html5shiv.js}" src="../static/js/ie/html5shiv.js"></script>
<script th:src="@{/js/ie/respond.min.js}" src="../static/js/ie/respond.min.js"></script>
<script th:src="@{/js/jPlayer/add-on/jplayer.playlist.min.js}" src="../static/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script th:src="@{/js/jPlayer/add-on/jquery.jplayer.inspector.js}" src="../static/js/jPlayer/add-on/jquery.jplayer.inspector.js"></script>
<script th:src="@{/js/jPlayer/popcorn/popcorn.jplayer.js}" src="../static/js/jPlayer/popcorn/popcorn.jplayer.js"></script>
<script th:src="@{/js/jPlayer/demo.js}" src="../static/js/jPlayer/demo.js"></script>
<script th:src="@{/js/jPlayer/jquery.jplayer.min.js}" src="../static/js/jPlayer/jquery.jplayer.min.js"></script>
<script th:src="@{/js/app.js}" src="../static/js/app.js"></script>
<script th:src="@{/js/app.plugin.js}" src="../static/js/app.plugin.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
<script th:src="@{/js/countUp.js}" src="../static/js/countUp.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script th:src="@{/js/css3-mediaqueries.js}" src="../static/js/css3-mediaqueries.js"></script>
<script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
<script th:src="@{/js/echarts.min.js}" src="../static/js/echarts.min.js"></script>
<script th:src="@{/js/example.js}" src="../static/js/example.js"></script>
<script th:src="@{/js/html5.js}" src="../static/js/html5.js"></script>
<script th:src="@{/js/imagesloaded.pkgd.min.js}" src="../static/js/imagesloaded.pkgd.min.js"></script>
<script th:src="@{/js/index.js}" src="../static/js/index.js"></script>
<script th:src="@{/js/isotope.pkgd.min.js}" src="../static/js/isotope.pkgd.min.js"></script>
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
<script th:src="@{/js/jquery.magnific-popup.js}" src="../static/js/jquery.magnific-popup.js"></script>
<script th:src="@{/js/jquery.polyglot.language.switcher.js}" src="../static/js/jquery.polyglot.language.switcher.js"></script>
<script th:src="@{/js/jquery.slicknav.min.js}" src="../static/js/jquery.slicknav.min.js"></script>
<script th:src="@{/js/jquery.waypoints.min.js}" src="../static/js/jquery.waypoints.min.js"></script>
<script th:src="@{/js/jquery1111.min.js}" src="../static/js/jquery1111.min.js"></script>
<script th:src="@{/js/jquery-1.10.2.js}" src="../static/js/jquery-1.10.2.js"></script>
<script th:src="@{/js/jquery-3.2.1.slim.min.js}" src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script th:src="@{/js/lightbox-plus-jquery.min.js}" src="../static/js/lightbox-plus-jquery.min.js"></script>
<script th:src="@{/js/load-hide.js}" src="../static/js/load-hide.js"></script>
<script th:src="@{/js/load-page.js}" src="../static/js/load-page.js"></script>
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
<script th:src="@{/js/main.grid.js}" src="../static/js/main.grid.js"></script>
<script th:src="@{/js/modernizr.js}" src="../static/js/modernizr.js"></script>
<script th:src="@{/js/owl.carousel.min.js}" src="../static/js/owl.carousel.min.js"></script>
<script th:src="@{/js/player.js}" src="../static/js/player.js"></script>
<script th:src="@{/js/player_database.js}" src="../static/js/player_database.js"></script>
<script th:src="@{/js/playlist.js}" src="../static/js/playlist.js"></script>
<script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
<script th:src="@{/js/script.js}" src="../static/js/script.js"></script>
<script layout:fragment="js"></script>
</html>