<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>注册成功</title>
	</head>
	<body>
	<h1 style="color: lawngreen">注册成功</h1>
	<div>
		<span>你的账号为:</span><h3 style="color: greenyellow; display: inline" th:text="${account}"> </h3>

	</div>
	<a href="login.html">立即登录</a>
	</body>
<script>

</script>



</html>