<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>用户添加</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> 联系人 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/juser/information/save}" action="/juser/information/save" method="post">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custName"> 客户名称 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="custName" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="custName" required="required" readonly="readonly"
                                           placeholder="请输入用户名(必填项)" type="text" th:value="${b}">
                                </div>
                            </div>
                            <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="custNo"> 客户编号 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="custNo" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="custNo" required="required" readonly="readonly"
                                       placeholder="请输入机会来源" type="text" th:value="${a}">
                            </div>
                            <table id="datatable-responsive"
                                   class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                   cellspacing="0" width="100%" role="grid"
                                   aria-describedby="datatable-responsive_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="First name: activate to sort column descending"
                                        aria-sort="ascending">姓名
                                    </th>
                                    <th class="sorting" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="Last name: activate to sort column ascending">
                                        性别
                                    </th>

                                    <th class="sorting" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="Last name: activate to sort column ascending">
                                        职务
                                    </th>
                                    <th class="sorting" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="Last name: activate to sort column ascending">
                                        办公电话
                                    </th>
                                    <th class="sorting" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="Last name: activate to sort column ascending">
                                        手机
                                    </th>
                                    <th class="sorting" tabindex="0"
                                             aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                             aria-label="Last name: activate to sort column ascending">
                                        备注
                                    </th>
                                    <th class="sorting" tabindex="0"
                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                        aria-label="Last name: activate to sort column ascending">
                                        操作
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="salPlan:${cstCustomeradd}">
                                    <td  th:value="${salPlan.lkmName}" th:text="${salPlan.lkmName}">a</td>
                                    <td  th:value="${salPlan.lkmSex}" th:text="${salPlan.lkmSex}">a</td>
                                    <td  th:value="${salPlan.lkmPostion}" th:text="${salPlan.lkmPostion}">a</td>
                                    <td  th:value="${salPlan.lkmTel}" th:text="${salPlan.lkmTel}">a</td>
                                    <td  th:value="${salPlan.lkmMobile}" th:text="${salPlan.lkmMobile}">a</td>
                                    <td  th:value="${salPlan.lkmMemo}" th:text="${salPlan.lkmMemo}">a</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger">点击操作</button>
                                            <button type="button" class="btn btn-danger dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="editInfo" href="/juser/information/linkman/upd?custId=1" th:href="@{/juser/information/linkman/upd(custId=${salPlan.lkmId})}"
                                                       data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="编辑">编辑</a></li>
                                                <li><a class="viewInfo" href="/juser/information/linkman/add" th:href="@{/juser/information/linkman/add}"
                                                       data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="新增">新增</a></li>
                                                <li><a class="delInfo" id="del" href="#" th:onclick="|doDel(this,${salPlan.lkmId})|"
                                                       data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="删除">删除</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">新增</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!--<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
</script>-->
</html>